<section class="intro">
  <div class="container">
  <img src="testing.png" alt="testing" class="image" style="width:100%">
  <div class="middle">
    <div class="text">Veteran's career pathways</div>
  </div>
</div>
  <div class="container">
    <p class="lead">Hi! I'm Joanna Schroeder. Currently I work as an Intern for the <a href = "https://biocomplexity.virginia.edu/social-decision-analytics/dspg-program"> University of Virginia's Data Science for the Public Good Program. </a> I recently graduated from William & Mary where I studied government and public health. Previously I worked at the <a href = "https://www.lsc.gov/what-legal-aid/data"> Legal Services Corproation as a Data Governance and Analysis Intern. </a> I am actively looking for career opprotunities in data science. </p>
  </div>
</section>
